body {
  font-family: "Encode Sans", sans-serif;
  min-height: 100vh;
}

img {
  max-width: 100%;
  height: auto;
}

/* Header */
header .navbar {
  background-color: #ffffff;
  box-shadow: 0rem 0.125rem 0.375rem #00000029;
}

header h1 {
  color: #333;
  font-size: 1.75rem;
  font-weight: 700;
  text-align: center;
}

header .menu {
  color: #37bbed;
}

header .menu span {
  font-size: 3rem;
}

header .menu:hover {
  color: #9284be;
}

header .menu:active {
  background-color: #fff;
  color: #9284be;
}

/*menu*/

.offcanvas-body a {
  padding: 0.7rem 0.5rem 0.7rem 0.5rem;
  text-decoration: none;
  font-size: 1rem;
  color: #333;
  display: block;
  transition: 0.3s;
  border-bottom: solid 0.15rem #cccccc;
  font-weight: 500;
}

.offcanvas-body button {
  padding: 0.7rem 0.5rem 0.7rem 0.5rem;
  text-decoration: none;
  font-size: 1rem;
  color: #333;
  display: block;
  transition: 0.3s;
  border-bottom: solid 0.15rem #cccccc;
  font-weight: 500;
}

.offcanvas-body i {
  margin-right: 0.5rem;
}

.offcanvas-body .container {
  max-width: 93%;
}

.offcanvas-body a:hover {
  color: #37bbed;
  border-bottom: solid 0.15rem #37bbed;
}

.offcanvas-body img {
  margin-right: 1rem;
}

.offcanvas-header {
  border-bottom: solid 0.15rem #37bbed;
  margin: 0 1rem;
}

.offcanvas-header .btn-close {
  margin: 0;
}

.offcanvas-header h5 {
  font-size: 1.25rem;
  font-weight: 700;
  color: #333;
}

.administracion-menu {
  display: flex;
  justify-content: space-between;
}

.administracion-items {
  list-style: none;
  padding: 0px;
}

.administracion-items .dropdown-item:hover {
  background-color: transparent !important;
}

/*sub menu*/
.sub-menu .navbar {
  margin-top: 5.375rem;
  box-shadow: none;
  background-color: #f2f2f2;
  padding: 0;
}

.sub-menu img {
  color: #37bbed;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.navbar-nav {
  flex-direction: row;
}

.navbar-collapse {
  display: flex !important;
  flex-basis: auto;
  justify-content: flex-end;
}

#notification_count {
  padding: 0.1rem 0.4rem;
  background: #9284be;
  color: #ffffff;
  font-weight: bold;
  margin-left: -1rem;
  border-radius: 100%;
  position: absolute;
  font-size: 0.6rem;
}

.text-wrap {
  white-space: normal !important;
}

/*login + imagenes*/

.imagen {
  background-image: url("../img/bg-login.png");
  background-size: cover;
  background-position: right;
  height: 108vh;
}

.flotante {
  float: left;
  height: 40%;
  width: 100%;
  margin-bottom: -50px;
}

.login-img .row {
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.texto-SIGISU {
  text-align: right;
  padding-left: 6rem;
}

.texto-SIGISU h1 {
  font-size: 3.75rem;
  font-weight: 700;
  color: #fff;
  text-shadow: 0 4px 4px #333;
}

.texto-SIGISU h2 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-top: 1rem;
  line-height: 3rem;
  letter-spacing: 0.02rem;
  text-shadow: 0 4px 4px #333;
  color: #fff;
}

.texto-SIGISU i {
  font-size: 4rem;
}

/*administracion*/
.texto-admin img {
  margin-bottom: 2rem;
}

.texto-admin h2 {
  font-weight: 600;
}

.adm-opciones {
  background-color: #fff;
  border-radius: 2rem;
  box-shadow: 0px 3px 6px rgb(0 0 0 / 15%);
  padding: 1.5rem 1rem;
  display: block;
  text-align: center;
  margin-bottom: 1rem;
  color: #9284be;
  font-size: 1.25rem;
  font-weight: 600;
  text-decoration: none;
}

.adm-opciones:hover {
  background-color: #f3f0ff;
  color: #9284be;
}

/*usuarios*/

.filtros-desktop {
  box-shadow: 0px 3px 6px rgb(0 0 0 / 15%);
  border-radius: 4px;
  background-color: #fff;
  padding: 1rem 0.75rem 2rem 0.75rem;
  margin: 3rem 0;
  height: 100%;
}

.titulo-filtros {
  color: #333;
  margin-bottom: 1rem;
}

.filtros-desktop .accordion-body {
  padding: 1rem 0;
}

.input-sigisu {
  margin: 0 0 1rem 0;
  border-radius: 3rem;
  border: 2px solid #cccccc;
}

.textarea-sigisu {
  margin: 0 0 1rem 0;
  border-radius: 1rem;
  border: 2px solid #cccccc;
}

.input-sigisu:active .tabla-sigisu {
  box-shadow: 0px 3px 6px rgb(0 0 0 / 15%);
  border-radius: 4px;
  background-color: #fff;
  padding: 1rem;
  margin: 1rem 0 2rem 0;
}

.accordion-button {
  border-bottom: 1px solid #e6e6e6;
}

.accordion-button:not(.collapsed) {
  color: #37bbed;
  font-weight: 700;
}

.desplegable-desktop {
  margin-top: 3rem;
  justify-content: center;
}

.desplegable-desktop img:hover {
  transform: scale(1.25);
}

.desplegable-desktop hr {
  height: 90%;
  width: 1px;
  padding: 0rem;
}
.tabla-desktop {
  margin-top: 3rem;
  padding: 0;
}
.acciones-header-tabla-desktop {
  text-align: right;
}

.header-tabla-desktop h5 {
  font-weight: 700;
  color: #333;
}

.num {
  color: #37bbed !important;
}

.table {
  font-size: 0.85rem;
  color: #333;
}
.tabla-user-actions span {
  color: #37bbed;
}

.tabla-user-actions button {
  display: inline-flex;
  align-items: center;
}
.table-pag {
  text-align: center;
}

.table-pag a {
  border: none;
  color: #37bbed;
  font-weight: 600;
}

.tabla-sigisu {
  margin-top: 1.5rem;
}

.table-pag a:hover {
  color: #37bbed;
  font-weight: 600;
}
.footer-table {
  flex-wrap: nowrap;
  font-size: 0.85rem;
  justify-content: space-between;
  align-items: center;
}

.footer-table select {
  font-size: 0.85rem;
}

th:last-child,
td:last-child {
  text-align: right;
}

.mostrando {
  text-align: right;
}

.primary-small {
  color: #fff;
  background-color: #9284be;
  border: solid #9284be;
  border-radius: 2rem;
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0.02rem;
  margin: 1rem 0 0.5rem 0;
}

.primary-small:hover {
  color: #9284be;
  background-color: #fff;
  border: solid #9284be;
}

.primary-small:focus,
.primary-small:active {
  background-color: #b09fe6;
  color: #fff;
  border: solid #b09fe6;
}

.secondary-small {
  color: #9284be;
  background-color: #ffffff;
  border: solid #9284be;
  border-radius: 2rem;
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0.02rem;
}

.secondary-small:hover {
  background-color: #f3f0ff;
  color: #9284be;
}

.secondary-small:focus,
.secondary-small:active {
  background-color: #ddd7ef;
}

.tertiary-small {
  color: #9284be;
  background-color: #ffffff;
  border-radius: 2rem;
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0.02rem;
  box-shadow: 0px 3px 6px rgb(0 0 0 / 15%);
  display: inline-flex;
  align-items: center;
  padding: 0.5rem 1rem;
}

.tertiary-small:hover {
  background-color: #f3f0ff;
  color: #9284be;
}

.tertiary-small:focus,
.tertiary-small:active {
  background-color: #ddd7ef;
}

/*crear usuario*/
.paneles {
  justify-content: space-between;
}

.panel {
  box-shadow: 0px 3px 6px rgb(0 0 0 / 15%);
  border-radius: 4px;
  background-color: #fff;
  padding: 1rem 0.75rem;
  margin: 0 1rem 1rem 0;
}

.panel h5 {
  color: #333;
}

.titulo-celeste {
  padding: 2rem 0;
}

.agregar {
  color: #333;
  padding: 0;
}

.agregar-doc hr {
  color: #37bbed;
  opacity: 1;
}

.agregar:hover {
  color: #37bbed;
}

.header-panel-action {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.header-panel-action button {
  padding: 0;
}

.hover-agrandar:hover {
  transform: scale(1.25);
}

.btn-crear {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.header-usuario {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info-usuario button {
  padding: 0 0 0 0.5rem;
}

.archivo-cargado {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.tabla-sistema thead {
  color: #37bbed;
  border-bottom: 1px solid #ccc;
}

.tabla-sistema tbody {
  border-bottom: 1px solid #37bbed;
}

.contenido-tabs {
  padding: 3rem 1rem;
  text-align: center;
  color: #333;
  font-style: italic;
}

/*Mensajeria*/
.pill-sigisu {
  border: 2px solid #37bbed;
  font-size: 0.85rem;
  border-radius: 2rem;
  font-weight: 600;
  color: #333;
  padding: 0.25rem 0.75rem;
  width: auto;
}

.acciones-msj {
  display: flex;
  margin-bottom: 1rem;
}

.acciones-msj .agregar-doc {
  margin-right: 2rem;
}

.busqueda-avanzada {
  text-align: center;
  margin: 2rem 0;
}

.modal .filtro-tabla-desktop {
  justify-content: space-around;
}

.modal .filtros-desktop {
  margin-top: 1rem;
}

.modal .tabla-desktop {
  margin-top: 1rem;
}

/*Localidad*/
.filtros-buscador .filtros-desktop {
  height: auto;
}
/*login usuario SGO*/

.select-login {
  background-color: #fff;
  border-radius: 2rem;
}

.select-login button:focus {
  box-shadow: none;
}
.selec-boton {
  font-size: 1.2rem;
  font-weight: 600;
  color: #fff;
  background-color: #37bbed;
  padding: 0.7rem 0rem;
  border-radius: 2rem;
}

.selec-boton:hover {
  color: #fff;
}

.no-selec-boton {
  font-size: 1.2rem;
  font-weight: 600;
  color: #cccccc;
  padding: 0.7rem 0rem;
  border-radius: 2rem;
  float: right;
}

.no-selec-boton:hover {
  border: solid 0.15rem #37bbed;
  color: #37bbed;
}

.login-usuario {
  margin-top: 5.5rem;
}

.login-usuario label {
  font-size: 1.2rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.login-usuario input {
  border-radius: 2rem;
  border: 2px solid #cccccc;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.olvide-pass {
  text-align: center;
  margin: 3rem 0 1rem 0;
}

.olvide-pass a {
  font-size: 1rem;
  color: #37bbed;
  font-weight: 700;
}

.olvide-pass a:hover {
  color: #9284be;
}

.primary-large {
  color: #fff;
  background-color: #9284be;
  border: solid #9284be;
  border-radius: 2rem;
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 0.02rem;
}

.primary-large:hover {
  color: #9284be;
  background-color: #fff;
  border: solid #9284be;
}

.primary-large:focus,
.primary-large:active {
  background-color: #b09fe6;
  color: #fff;
  border: solid #b09fe6;
}

.secondary-large {
  color: #9284be;
  background-color: #ffffff;
  border: solid #9284be;
  border-radius: 2rem;
  font-weight: 700;
  font-size: 1.2rem;
  letter-spacing: 0.02rem;
}

.secondary-large:hover {
  background-color: #f3f0ff;
  color: #9284be;
}

.secondary-large:focus,
.secondary-large:active {
  background-color: #ddd7ef;
}

/*main*/

.home {
  background-image: url("../img/bg-home.png");
  background-repeat: repeat-x;
  background-attachment: fixed;
}

.main-color {
  background-color: #fbfbfb;
}

.home-gestor {
  justify-content: space-between;
  margin: 5rem 0;
}

.texto-home {
  margin: auto 0;
}

.texto-home h1 {
  color: #37bbed;
  font-weight: 700;
}

.texto-home h2 {
  color: #333;
  font-weight: 700;
}

.gestores .card {
  border: none;
  box-shadow: 0px 3px 6px rgb(0 0 0 / 15%);
  margin-bottom: 2rem;
  text-align: center;
}

.gestores .card:hover {
  background-color: #ecf9fe;
  color: #37bbed;
}

.gestores a {
  text-decoration: none;
  color: #333;
}

/*Notificaciones */

.sub-menu .dropdown-menu {
  padding: 1rem;
  min-width: 20rem;
}

.sub-menu hr {
  color: #37bbed;
  opacity: 100%;
  margin: 0;
}

.item-notificacion {
  flex-wrap: nowrap;
}
.item-notificacion a {
  color: #37bbed;
  padding: 0;
}

.item-notificacion p {
  font-size: 12px;
}

.fecha-notificacion {
  color: #9284be;
  font-size: 10px;
  padding: 0.5rem 1rem 0 1rem;
  justify-content: space-between;
}

.btn-terciario {
  color: #37bbed;
  font-weight: 700;
  text-align: center;
  margin: 1rem auto 0;
  display: flex;
  align-items: center;
}

.btn-terciario:hover {
  color: #37bbed;
  background-color: #e6e6e6;
}

/*Menu responsive*/
.menu-responsive {
  display: none;
}

.menu-responsive .btn {
  color: #fff;
  background-color: #ed3d8f;
  border-radius: 3rem;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  margin: 2rem 0;
  box-shadow: 0rem 0.188rem 0.375rem #00000029;
}

.menu-responsive a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

/* Footer */

.main-footer {
  background-color: #f3faff;
}

.footer-chico {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}

.main-footer .nav {
  flex-direction: column;
}

.leaf {
  margin: 0.3rem 0;
}

.first {
  margin-top: 1.5rem;
}

.region-footer3 {
  font-weight: 500;
  color: #333;
  font-size: 1rem;
}

.region-footer3 p {
  margin-right: 1rem;
}

.version {
  display: flex;
}

.version span {
  margin-left: 1.5rem;
  margin-right: 0.5rem;
}

.lets-make-it {
  display: flex;
  justify-content: flex-end;
}

.sub-footer {
  background-color: #37bbed;
  padding: 1.25rem 0 2.5rem 0;
}

.sub-footer img {
  margin-bottom: 20px;
  max-width: 300px;
  display: block;
}

/*Reestablecer contraseña*/

.texto-reestablecer {
  margin-bottom: 4rem;
}

.login-usuario h6 {
  font-weight: 700;
  color: #9284be;
  margin-top: 2rem;
}

/*Mis datos*/
.org-adicional {
  text-align: center;
  font-style: italic;
}

/*Vista provincia*/

.tabs-sigisu .nav-tabs .nav-link.active {
  color: #37bbed;
  border-color: #37bbed #37bbed #fbfbfb;
  background-color: transparent;
  font-weight: 600;
}

.tabs-sigisu .nav-tabs {
  border-bottom: 1px solid #37bbed;
  color: #333;
}

.tabs-sigisu .nav-link {
  color: #333;
}

.tabs-sigisu .nav-tabs:hover .nav-link:hover {
  border-color: #ccc #ccc #37bbed;
  color: #37bbed;
}

.dato label {
  color: #666;
  font-weight: 500;
  font-size: 0.875rem;
  margin-bottom: 0;
}

.dato h6 {
  color: #333;
}

.dato a {
  color: #37bbed;
  text-decoration: none;
  font-weight: 600;
}

.dato a:hover {
  color: #9284be;
}

.mostrar-check {
  display: flex;
  justify-content: space-between;
}

.registro h6 {
  border-top: 1px solid #37bbed;
  margin-top: 0.5rem;
  padding-top: 0.5rem;
}

/*obra*/

.usuario-fecha h6 {
  color: #37bbed;
}

.usuario-fecha p {
  margin-bottom: 0;
}

.datos-localizacion h6 {
  color: #37bbed;
  margin-bottom: 0.25rem;
}

.datos-localizacion p {
  margin-bottom: 0.25rem;
  font-size: 0.75rem;
}

.datos-localizacion .col-2 {
  text-align: end;
}

.modal-footer button {
  padding: 0.25rem 1rem;
}

.visitas h5 {
  border-bottom: solid 1px #ccc;
}

.linea-fechas {
  border-right: solid 1px #ccc;
}

/*notificaciones*/
.icono-notificaciones {
  border-right: solid 1px #ccc;
}

.header-notificaciones {
  display: flex;
  justify-content: space-between;
}

.titulo-header-notificaciones {
  display: flex;
}

.pill {
  background-color: #9284be;
  border-radius: 2rem;
  padding: 0 1rem;
  margin-left: 1rem;
  color: white;
  font-weight: 700;
}

/*financiamiento*/
.monto h6 {
  color: #37bbed;
  font-weight: 700;
}

/*Menu secundario y cuerpo*/

.menu-secundario {
  padding: 1rem 0 4rem 0;
}

.menu-secundario .nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #37bbed;
}

.menu-secundario .nav-link:hover {
  background-color: #d4f3ff;
}

/*documentos*/

.tabs-sigisu .tabla-sigisu {
  margin-top: 0;
}

.item-carpeta-doc {
  display: flex;
}

.item-carpeta-doc span {
  color: #37bbed;
}

/*Historial*/

.historial {
  display: flex;
}

.cuerpo-historial {
  display: flex;
}

.comentarios {
  text-align: right;
}

/*variantes*/

.pill-successful {
  background-color: #2e7d33;
  color: #fff;
  font-weight: 600;
  padding: 0 0.5rem;
  border-radius: 2rem;
  font-size: 0.75rem;
  display: inline-block;
}

/*responsive*/

@media screen and (max-width: 993px) {
  .imagen {
    background-image: none;
  }
  .texto-SIGISU {
    display: none;
  }
  .texto-home h2 {
    margin-bottom: 3rem;
  }

  .footer-chico {
    flex-direction: column;
  }
  .version {
    justify-content: center;
  }
  .lets-make-it {
    justify-content: center;
  }
  .menu-gestor {
    display: none !important;
  }
  .menu-responsive {
    display: block !important;
  }
  .home-gestores {
    margin-top: 2rem;
  }
  .texto-admin {
    margin-bottom: 2rem;
  }
  .login-img {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

@media screen and (max-width: 770px) {
  .home-gestores {
    margin: 0 auto;
    width: 90%;
  }
  .menu-gestor {
    width: 100%;
  }

  .acceso-gestor .btn {
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 575px) {
  .container {
    max-width: 85%;
  }
  header h1 {
    display: none;
  }
  .acciones-header-tabla-desktop {
    text-align: left;
    margin-top: 1rem;
  }
  .btn-crear button {
    margin-bottom: 1rem;
  }
  .footer-table {
    flex-wrap: wrap;
  }

  .desplegable-desktop {
    display: none;
  }

  .mostrar-check {
    display: block;
    justify-content: space-between;
  }
}

@media screen and (max-width: 344px) {
  .bienvenido h1 {
    font-size: 2.5rem;
  }
  .navbar-brand img {
    width: 80%;
  }
}
